.button1 {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50%;
    border-color: white;
    background-color: red;
    color: white;
    box-shadow: 3px 3px 3px black;
    position: absolute;
}

.button2 {
    width: 35vmin;
    height: 35vmin;
    border-radius: 50%;
    border-color: white;
    background-color: red;
    color: white;
    box-shadow: 3px 3px 3px black;
    position: absolute;
}

.button3 {
    width: 20vmin;
    height: 20vmin;
    border-radius: 50%;
    border-color: white;
    background-color: red;
    color: white;
    box-shadow: 3px 3px 3px black;
    position: absolute;
}

.button4 {
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
    border-color: white;
    background-color: red;
    color: white;
    box-shadow: 3px 3px 3px black;
    position: absolute;
}

.button5 {
    width: 5vmin;
    height: 5vmin;
    border-radius: 50%;
    border-color: white;
    background-color: red;
    color: white;
    box-shadow: 3px 3px 3px black;
    position: absolute;
}

.button6 {
    width: 3vmin;
    height: 3vmin;
    border-radius: 50%;
    border-color: white;
    background-color: red;
    color: white;
    box-shadow: 3px 3px 3px black;
    position: absolute;
}

button:hover {
    background-color: green;
}

.clicked {
    display: none;
}

.heading {
    font-family: calibri, tahoma, sans serif;
    font-size: 5vmin;
}